@angular:registry=http://nexus.eltex.loc:8081/repository/npm-proxy/
@nodelib:registry=http://nexus.eltex.loc:8081/repository/npm-proxy/
@mrmlnc:registry=http://nexus.eltex.loc:8081/repository/npm-proxy/
registry=http://nexus.eltex.loc:8081/repository/npm-proxy/
@eltex:registry=http://nexus.eltex.loc:8081/repository/npm-private/
