<div class="canvas-box" fxLayout="row" fxLayoutAlign="start center">
  <ngx-timeliner [canvasHeight]="canvasHeight"
                 [isPlayClick]="isPlayClick"
                 [playTime]="playTime"
                 [speed]="speed"
                 [startTimeThreshold]=1691686800000
                 [endTimeThreshold]=1691773199000
                 [videoCells]="videoCells"
                 class="canvas-class"></ngx-timeliner>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <div>
    <button (click)="onPlay()" mat-button>play</button>
    <button (click)="onPause()" mat-button>pause</button>
  </div>
</div>
